In [25]:
import pandas as pd 
import time
import random
import os
from utils import get_data,data_processing
from datetime import datetime
import uuid

In [26]:
url = ['https://www.espn.com.co/futbol/posiciones/_/liga/esp.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ita.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ger.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/fra.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/por.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/mex.1']
ligas = ['ESPAÑA','INGLATERRA','ITALIA','GERMANY','FRANCIA','PORTUGAL','MEXICO']

df_ligas = {
    'LIGA':ligas,
    'URL':url
} 

df_ligas = pd.DataFrame(df_ligas)
df_ligas

         LIGA                                                URL
0      ESPAÑA  https://www.espn.com.co/futbol/posiciones/_/li...
1  INGLATERRA  https://www.espn.com.co/futbol/posiciones/_/li...
2      ITALIA  https://www.espn.com.co/futbol/posiciones/_/li...
3     GERMANY  https://www.espn.com.co/futbol/posiciones/_/li...
4     FRANCIA  https://www.espn.com.co/futbol/posiciones/_/li...
5    PORTUGAL  https://www.espn.com.co/futbol/posiciones/_/li...
6      MEXICO  https://www.espn.com.co/futbol/posiciones/_/li...

In [27]:
df_ligas['URL'][1]

'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1'

In [28]:
df = pd.read_html(df_ligas['URL'][1])

In [29]:
len(df)

2

In [30]:
df[0]

                       2025/2026
0                    1ARSArsenal
1            2MCIManchester City
2                3AVLAston Villa
3                    4CHEChelsea
4                  5LIVLiverpool
5                 6SUNSunderland
6          7MUNManchester United
7             8CRYCrystal Palace
8     9BHABrighton & Hove Albion
9                   10EVEEverton
10         11NEWNewcastle United
11                12BRNBrentford
12                   13FULFulham
13        14TOTTottenham Hotspur
14          15BOUAFC Bournemouth
15             16LEELeeds United
16        17FORNottingham Forest
17          18WHUWest Ham United
18                  19BRNBurnley
19  20WOLWolverhampton Wanderers

In [31]:
df[1]

     J   G  E   P  GF  GC  DIF  PTS
0   17  12  3   2  31  10   21   39
1   17  12  1   4  41  16   25   37
2   17  11  3   3  27  18    9   36
3   17   8  5   4  29  17   12   29
4   17   9  2   6  28  25    3   29
5   17   7  6   4  19  17    2   27
6   17   7  5   5  31  28    3   26
7   17   7  5   5  21  19    2   26
8   17   6  6   5  25  23    2   24
9   17   7  3   7  18  20   -2   24
10  17   6  5   6  23  22    1   23
11  17   7  2   8  24  25   -1   23
12  17   7  2   8  24  26   -2   23
13  17   6  4   7  26  23    3   22
14  17   5  7   5  26  29   -3   22
15  17   5  4   8  24  31   -7   19
16  17   5  3   9  17  26   -9   18
17  17   3  4  10  19  35  -16   13
18  17   3  2  12  19  34  -15   11
19  17   0  2  15   9  37  -28    2

In [32]:
df=pd.concat([df[0],df[1]],ignore_index=True,axis=1)
df

                               0   1   2  3   4   5   6   7   8
0                    1ARSArsenal  17  12  3   2  31  10  21  39
1            2MCIManchester City  17  12  1   4  41  16  25  37
2                3AVLAston Villa  17  11  3   3  27  18   9  36
3                    4CHEChelsea  17   8  5   4  29  17  12  29
4                  5LIVLiverpool  17   9  2   6  28  25   3  29
5                 6SUNSunderland  17   7  6   4  19  17   2  27
6          7MUNManchester United  17   7  5   5  31  28   3  26
7             8CRYCrystal Palace  17   7  5   5  21  19   2  26
8     9BHABrighton & Hove Albion  17   6  6   5  25  23   2  24
9                   10EVEEverton  17   7  3   7  18  20  -2  24
10         11NEWNewcastle United  17   6  5   6  23  22   1  23
11                12BRNBrentford  17   7  2   8  24  25  -1  23
12                   13FULFulham  17   7  2   8  24  26  -2  23
13        14TOTTottenham Hotspur  17   6  4   7  26  23   3  22
14          15BOUAFC Bournemouth  17   5  7   5  26  29  -3  22
15             16LEELeeds United  17   5  4   8  24  31  -7  19
16        17FORNottingham Forest  17   5  3   9  17  26  -9  18
17          18WHUWest Ham United  17   3  4  10  19  35 -16  13
18                  19BRNBurnley  17   3  2  12  19  34 -15  11
19  20WOLWolverhampton Wanderers  17   0  2  15   9  37 -28   2

In [33]:
df=df.rename(columns={0:'EQUIPO',1:'J', 2:'G', 3:'E', 4:'P', 5:'GF', 6:'GC', 7:'DIF', 8:'PTS'})
df['EQUIPO']=df['EQUIPO'].apply(lambda x: x[5:] if x[:2].isnumeric()==True else x[4:])
df['LIGA'] = df_ligas['LIGA'][1]

In [34]:
df

                     EQUIPO   J   G  E   P  GF  GC  DIF  PTS        LIGA
0                   Arsenal  17  12  3   2  31  10   21   39  INGLATERRA
1           Manchester City  17  12  1   4  41  16   25   37  INGLATERRA
2               Aston Villa  17  11  3   3  27  18    9   36  INGLATERRA
3                   Chelsea  17   8  5   4  29  17   12   29  INGLATERRA
4                 Liverpool  17   9  2   6  28  25    3   29  INGLATERRA
5                Sunderland  17   7  6   4  19  17    2   27  INGLATERRA
6         Manchester United  17   7  5   5  31  28    3   26  INGLATERRA
7            Crystal Palace  17   7  5   5  21  19    2   26  INGLATERRA
8    Brighton & Hove Albion  17   6  6   5  25  23    2   24  INGLATERRA
9                   Everton  17   7  3   7  18  20   -2   24  INGLATERRA
10         Newcastle United  17   6  5   6  23  22    1   23  INGLATERRA
11                Brentford  17   7  2   8  24  25   -1   23  INGLATERRA
12                   Fulham  17   7  2   8  24  26   -2   23  INGLATERRA
13        Tottenham Hotspur  17   6  4   7  26  23    3   22  INGLATERRA
14          AFC Bournemouth  17   5  7   5  26  29   -3   22  INGLATERRA
15             Leeds United  17   5  4   8  24  31   -7   19  INGLATERRA
16        Nottingham Forest  17   5  3   9  17  26   -9   18  INGLATERRA
17          West Ham United  17   3  4  10  19  35  -16   13  INGLATERRA
18                  Burnley  17   3  2  12  19  34  -15   11  INGLATERRA
19  Wolverhampton Wanderers  17   0  2  15   9  37  -28    2  INGLATERRA

In [35]:
df_ligas.to_csv('df_ligas.csv',index=False)

In [36]:
def id_generator(team):

    return str(uuid.uuid1())[:8]

In [37]:
id_generator('carro')

'15b24009'

In [38]:
id_generator('gato')

'15b496dd'

In [39]:
lista_resultado = 0

In [40]:
equipos = df_hola['EQUIPO'].unique()
lista_resultado = list(map(id_generator, equipos))

NameError: name 'df_hola' is not defined

In [ ]:
team_table = {

    'EQUIPO':equipos,
    'ID_TEAM':lista_resultado
}

df_team = pd.DataFrame(team_table)

In [ ]:
df_team['ID_TEAM'].value_counts()

In [ ]:
df_team.to_csv('team_table.csv',index=False)

In [ ]:
pd.read_csv('df_ligas.csv')

In [ ]:
df_final = pd.merge(df_hola,df_team,how='inner',on='EQUIPO')
df_final.columns
df_final = df_final[['ID_TEAM','EQUIPO', 'J', 'G', 'E', 'P', 'GF', 'GC', 'DIF', 'PTS', 'LIGA',
       'CREATED_AT']]
df_final

In [ ]:
df_final.to_csv('premier_positions.csv',index=False)

In [ ]:
lista_resultado[0]

In [ ]:
hash('hola')

In [ ]:
df_hola